.buttoncontainer {
  display: flex;

  flex-direction: row;
  justify-content: center;
  width: 35%;
  margin:auto;
}
.container {
  display: flex;

  flex-direction: column;
  justify-content: center;
}
