

.main-class {
  display: flex;
  justify-content:center;
}

.des-class {
  opacity: 1;
  width: 700px;
  height: 400px;
  border: solid #FFB974 10px;
  border-radius: 10px;
  background-color: #FFB974;
  align-self: center;
  margin-top: 10vh;
  z-index: 2


}
.time {
    display: flex;
      justify-content:center;
      padding: 1vh;
}

.all {
  width: 100vw;
  height: 100vh;
  background: rgba(200,200,200,0.7);
  /*opacity: 0.2;*/
  /*margin-top: 10%;*/
  align-content: center;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  justify-content: center;
  display: flex;
}
.button1, .button2 {
  margin:auto;
  text-align: center;
  border: solid #36859B 4px;
  padding: 4px;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 1%;
  cursor: pointer;
  transition: background-color 0.3s;
  user-select: none;
  text-decoration: none;

}
.a {
  text-decoration: none;
  outline: none;
}
.button1:hover {
  background-color: #5399AD;
}

.button1 {
  width: 70px;
  border-color: #36859B;
  background: #36859B;
}

.button1:active {
  background-color: #2A4B54;
  transition: background-color 0s;
}
.buttoncontainer {
  display: flex;

  flex-direction: row;
  justify-content: center;
  width: 35%;
  margin:auto;
}
.all {
  /* display: flex; */

}
