<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Focused Logowanie</title>
    <link rel="stylesheet" href="main.css">
      <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Dancing+Script" rel="stylesheet">
  </head>
  <body>
    <div class='belt'>
      <div class ='headings'>
        Focused
      </div>
    </div>
    <div class='helper'>
      <form>
        <input type="email" id="user-email" name="user-email" placeholder="Email">
        <br>
        <br>
        <input type="password" name="psw" id="password" placeholder="Hasło">
      </form>
    </div>
    <div class="button1">
      zaloguj
    </div>
    <div class='button2'>
      zarejestruj sie
    </div>
    <div class="footer">
      <div class="footerObj">
        MÓJ GITHUB
      </div>
      <div class="footerObj">
        REPOZYTORIUM FOCUSED
      </div>
      <div class="footerObj">
        oliwia_bar@wp.pl
      </div>
    </div>

  </body>
 </html>
