<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Focused Pulpit</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="pulpit.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Dancing+Script" rel="stylesheet">
  </head>
  <body>
    <div class='belt'>
      <div class ='headings'>
        Focused
      </div>
    </div>
    <div class="main-container">

      <div class="side-menu" class="item">

        <nav >
          <ol>
            <li class="Kalendarz">
              <a href="index.html">Kalendarz</a>
            </li>
            <li class="Base">
              <a href="szkolenia.html">Moje bazy danych</a>
                <ul class="RozwijalnePar">
                  <li class="Rozwijalne">
                    <a class="White">Notatki_1</a>
                  </li>
                  <li class="Rozwijalne">
                    <a class="White">Notatki_2</a>
                  </li>
                
                </ul>
              </li>
              <li class="Szukaj">
                <a href="konferencje.html">Szukaj</a>
                <ul class="RozwijalnePar">
                  <li class="Rozwijalne">
                    <a class="White">Notatki_1</a>
                  </li>
                </ul>
              </li>
            </ol>
          </nav>
        </div>
        <div class="calendar" class="item">
             Kalendarz
      </div>
      <div class="item right-side">
        <div class='button2' >
          wyloguj
        </div>
      </div>


  </div>
    <div class="footer">
      <div class="footerObj">
        MÓJ GITHUB
      </div>
      <div class="footerObj">
        REPOZYTORIUM FOCUSED
      </div>
      <div class="footerObj">
        oliwia_bar@wp.pl
      </div>
    </div>

  </body>
 </html>
