<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Focused Pulpit</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="pulpit.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Dancing+Script" rel="stylesheet">
  </head>
  <body>
    <div class='belt'>
      <div class ='headings'>
        Focused
      </div>
    </div>
    <div class='button2'>
      wyloguj
    </div>
    <div class="footer">
      <div class="footerObj">
        MÓJ GITHUB
      </div>
      <div class="footerObj">
        REPOZYTORIUM FOCUSED
      </div>
      <div class="footerObj">
        oliwia_bar@wp.pl
      </div>
    </div>

  </body>
 </html>
