.belt {
  background-color: #36859B;
  width: 100%;
  height: 10vh;
  border-radius: 30px;
  text-align: center;
  /*text-align-last: center;*/
}
body {
  background-color: #C5DDE4
}
.headings {
    /*margin: auto;*/
    color: #FFFFFF;
    font-size: 9vh;
    /*margin-top: -5px;*/
    line-height: 10vh;
    /*font-family: 'Lobster', cursive;*/
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}
.helper {
  /*display: inline-block;
  width: calc(50% - 84px);*/
  margin:auto;
  margin-top: 5%;
}
form {
  display: inline-block;
  width: 167px;

}
body {
  text-align: center;
  align-items: center;
  font-weight: bold;
  /*font-family: 'Lobster', cursive;*/
  /*font-family: 'Dancing Script', cursive;*/
  font-family: 'Amatic SC', cursive;

}
.Logowanie {
  margin-top: 3%;
  margin-left: -4%;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
}

.button1, .button2 {
  margin:auto;
  text-align: center;
  border: solid #36859B 4px;
  padding: 4px;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 1%;
  cursor: pointer;
  transition: background-color 0.15s;
  user-select: none;
}

.button1:hover{
  background-color: #5399AD;
}
.button1 {
  width: 70px;
  border-color: #36859B;
  background: #36859B;
}
.button1:active {
  background-color: #2A4B54;
  transition: background-color 0s;
}
.button2:hover {
  background-color: #FFC68E;
}
.button2 {
    width: 140px;
    border-color: #9F9993;
    background-color: #FFB974;
}
.button2:active {
  background-color: #8D765F;
  transition: background-color 0.0s;
}


.footer {
  position: absolute;
  bottom: 0;
  left: 50% ;
  transform: translateX(-50%);

}
.footerObj {
  display: inline;
  margin: 3vh;
  /*width: 140px;*/

  /*margin-top: 2vh;*/

}
