.belt {
  background-color: #36859B;
  width: 100%;
  height: 10vh;
  border-radius: 30px;
  text-align: center;
}

body {
  background-color: #C5DDE4;
}

.headings {
    color: #FFFFFF;
    font-size: 9vh;
    line-height: 10vh;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

.helper {
  margin:auto;
  margin-top: 5%;
}

form {
  display: inline-block;
  width: 167px;
}

body {
  text-align: center;
  align-items: center;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
}

.Logowanie {
  margin-top: 3%;
  margin-left: -4%;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
}

.button1, .button2 {
  margin:auto;
  text-align: center;
  border: solid #36859B 4px;
  padding: 4px;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 1%;
  cursor: pointer;
  transition: background-color 0.3s;
  user-select: none;
}

.button1:hover {
  background-color: #5399AD;
}

.button1 {
  width: 70px;
  border-color: #36859B;
  background: #36859B;
}

.button1:active {
  background-color: #2A4B54;
  transition: background-color 0s;
}

.button2:hover {
  background-color: #FFC68E;
}

.button2 {
    width: 140px;
    border-color: #9F9993;
    background-color: #FFB974;
}

.button2:active {
  transition: background-color 0.0s;
  background-color: #8D765F;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 50% ;
  transform: translateX(-50%);
}

.footerObj {
  display: inline;
  margin: 3vh;
}
 nav {
   width: 100%;
 }
nav ol {
/*background: #FFB974;*/
  list-style: none;
  padding: 0;
  width: 100%;
  border-radius: 10px;
  /*border: solid #C5DDE4 6px;*/
  font-size: 4vh;

}
.Kalendarz, .Base, .Szukaj {  cursor: pointer;
  background: #FFB974;
  border: solid #C5DDE4 4px;
  border-radius: 10px;
  padding: 4px;
  cursor: pointer;
}

.Kalendarz:hover, .Base:hover, .Szukaj:hover {
  background: #FFC68E;
  /*border: solid #C5DDE4 6px;*/
  border-radius: 10px;
  padding: 4px;
}

ol > li > ul {
  list-style-type:none;
  padding:0;
  margin:0;
  /*width: clac( auto + 5vh);*/
}
nav ul li:last-child {
  border: solid FFB974 6px;
}

nav ol li a {
color: black;
text-decoration: none;
}

nav ol li a:hover {
text-decoration: underline;
}

.Rozwijalne:hover {
    background-color: #B9B2AC;
}

.Rozwijalne {
  margin-left: 10px;
  background-color: #9F9993;
  border-radius: 10px;
  margin : 2px;
  cursor: pointer;
}

.RozwijalnePar {
  display:none;
}

ol > li:hover > ul {
  display:block;
}
