.belt {
  height: 6vh;
}

.headings {
    font-size: 5vh;
    line-height: 6vh;
}

.button2:hover {
  background-color: #B9B2AC;
}

.button2 {
    border-color: #9F9993;
    background-color: #9F9993;
    color: white;
    float:left;
    /*text-align: center;*/
    font-size: 18px;
    /*margin-top: 0.3%;*/
    /*margin-right: 9%;*/
    padding: 0;
    width: 30%;
    margin-left: 1%;
}

.button2:active {
  background-color: #7D7772;
}

.calendar {

  width: 200px;
  height: 200px;
  border : solid black 3px;
  flex-grow: 17

}

.main-container {
display: flex;
flex-direction: row;
margin:auto;
margin-top: 0.3%;
}
.side-menu {
  flex-grow:5
}


.left-side{
  width:20%;
  display: flex;
  text-align: left;
  flex-grow:1

}
