<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Focused Logowanie</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="add.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Dancing+Script" rel="stylesheet">
  </head>
  <body>
    <div class="all">
      <div class='main-class'>
        <div class='des-class'>
          <div class="name">
            <input type="text" id="name" name="name" placeholder="Nazwa wydarzenia">
          </div>
          <div class="time">
            <input type="text" id="name" name="name" placeholder="od">
            <input type="text" id="name" name="name" placeholder="do">
          </div>
          <div class="comment">
            <textarea rows="10" cols="50" id="content" name="content"
            ></textarea>
          </div>
          <div class="importance">
            <div class="stars">
            </div>
            <div class="stars">
            </div>
            <div class="stars">
            </div>
            <div class="stars">
            </div>
            <div class="stars">
            </div>
          </div>
        </div>
      </div>  
  </body>
 </html>
