.button1, .button2 {
  margin:auto;
  text-align: center;
  border: solid #36859B 4px;
  padding: 4px;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 1%;
  cursor: pointer;
  transition: background-color 0.3s;
  user-select: none;
  text-decoration: none;

}

.fabebookClass {
    background-color: red;
}

.a {
  text-decoration: none;
  outline: none;
}
.button1:hover {
  background-color: #5399AD;
}

.button1 {
  width: 70px;
  border-color: #36859B;
  background: #36859B;
}

.button1:active {
  background-color: #2A4B54;
  transition: background-color 0s;
}

.button2:hover {
  background-color: #FFC68E;
}

.button2 {
    width: 140px;
    border-color: #9F9993;
    background-color: #FFB974;
}

.button2:active {
  transition: background-color 0.0s;
  background-color: #8D765F;
}


.wyloguj:hover {
  background-color: #B9B2AC;
}

.wyloguj {
    border-color: #9F9993;
    background-color: #9F9993;
    color: white;
    /*float:left;*/
    /*text-align: center;*/
    font-size: 18px;
    /*margin-top: 0.3%;*/
    /*margin-right: 9%;*/
    padding: 0;
    /*width: 30%;*/
    margin-left: 1%;
}

.wyloguj:active {
  background-color: #7D7772;
}
