
body {
  background-color: #C5DDE4;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
}

.headings {
    color: #FFFFFF;
    font-size: 9vh;
    line-height: 10vh;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

.helper {
  margin:auto;
  margin-top: 5%;
}

.button1, .button2 {
  margin:auto;
  text-align: center;
  border: solid #36859B 4px;
  padding: 4px;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 1%;
  cursor: pointer;
  transition: background-color 0.3s;
  user-select: none;
}

.button1:hover {
  background-color: #5399AD;
}

.button1 {
  width: 70px;
  border-color: #36859B;
  background: #36859B;
}

.button1:active {
  background-color: #2A4B54;
  transition: background-color 0s;
}

.button2:hover {
  background-color: #FFC68E;
}

.button2 {
    width: 140px;
    border-color: #9F9993;
    background-color: #FFB974;
}

.button2:active {
  transition: background-color 0.0s;
  background-color: #8D765F;
}
.main-container {
display: flex;
flex-direction: row;
margin:auto;
margin-top: 0.3%;
justify-content: space-between;
}

.side-menu {
  flex-grow:3
}


.right-side{

  display: flex;
  /*text-align: left;*/
  flex-grow:3

}

@media all and (min-width: 800px) {

}
